{
	email admin@sneepcut.com
}

sneepcut.com, www.sneepcut.com {
	encode zstd gzip
	reverse_proxy frontend:3000
}

api.sneepcut.com {
	reverse_proxy nginx:80
}

studio.sneepcut.com {
	encode zstd gzip
	reverse_proxy studio:5191
}
