{
	email admin@sneepcut.com
}

sneepcut.com, www.sneepcut.com {
	encode zstd gzip
	@application_api path /api/* /v1/* /media/*
	handle @application_api {
		reverse_proxy nginx:80 {
			header_up Host api.sneepcut.com
		}
	}
	handle {
		reverse_proxy frontend:80
	}
}

api.sneepcut.com {
	reverse_proxy nginx:80
}

studio.sneepcut.com {
	encode zstd gzip
	reverse_proxy studio:5191
}
